{% extends "main/header.html" %}

{% block content %}

	<nav>
    <div class="nav-wrapper red">
      <form>
        <div class="input-field">
          <input id="search" type="search" required onsearch="goToPage()">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

  	<script type="text/javascript">
		
		function goToPage(){

			var input = document.getElementById("search").value;
			location.href = "/" + input;

		}

	</script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);


	  function drawChart() {

	    var data = google.visualization.arrayToDataTable({{Bars|safe}}, true);

	    var options = {
	      legend:'none',
	      candlestick: {
            fallingColor: { strokeWidth: 0, fill: '#FF0000' }, // red
            risingColor: { strokeWidth: 0, fill: '#008000' }   // green
          }

	    };

	    var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

	    chart.draw(data, options);
	  }
    </script>

    <div class="row">

    <h3>{{Stock}} = ${{CurrentPrice}}</h3>

    <div class="container col s12" id="chart_div" style="width: 3000px; height: 500px;"></div>

   	<div class="container col s12 center">
  	{% if user.is_authenticated %}
  		<form method="get">
			<button type="submit" class="waves-effect waves-light btn-large red" name="buyBtn">Buy</button>
			<button type="submit" class="waves-effect waves-light btn-large red" name="sellBtn">Sell</button>
		</form>
	{% endif %}

	</div>

	</div>

{% endblock %}